.button {
    border: 1px solid #000;
    color: #000;
    border-radius: 0;
    outline: 0;
    font-size: 14px;
    line-height: 1;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #eee;
    transition: 0.5s;
    text-decoration: none;

    @media screen and (max-width: 767.5px) {
        display: flex;
        align-items: center;
    }

    &:hover {
        color: #fff;
        background-color: #000;
    }

    &:focus {
        box-shadow: 0 0 6px #000;
    }

    &.error-close {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		font-size: 14px;
		font-weight: bold;
		line-height: 1;
		padding: 4px 8px;
		background: transparent;
		border: none;
	}

    &.delete {
        background-color: red;
        margin-left: 20px;
    }
}